/*

Float-Grid
Author: Charles Ojukwu

Classes stored here

*/
table {
  border-collapse: collapse;
  margin: 0 auto; }

td {
  border: 1px solid #bbb;
  padding: .25em; }

/*

Float-Grid
Author: Charles Ojukwu

Mixins stored here

*/
*, *::before, *::after {
  box-sizing: border-box; }

.row {
  clear: both;
  margin: -2em -1em 0; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

.g0 {
  margin: 0; }

.gs {
  margin: -1em -0.5em 0; }

.gl {
  margin: -3em -1.5em 0; }

.container {
  clear: both;
  margin: -2em -1em 0; }
  .container:before, .container:after {
    content: '';
    display: table; }
  .container:after {
    clear: both; }

.col-1 {
  margin: 2em 1em 0; }
  .stripes .col-1 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-1 {
      width: calc(8.33333% - 2em);
      float: left; } }
  .g0 .col-1 {
    margin: 0 0 0; }
    .stripes .g0 .col-1 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-1 {
        width: calc(8.33333% - 0);
        float: left; } }
  .gs .col-1 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-1 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-1 {
        width: calc(8.33333% - 1em);
        float: left; } }
  .gl .col-1 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-1 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-1 {
        width: calc(8.33333% - 3em);
        float: left; } }

.col-2 {
  margin: 2em 1em 0; }
  .stripes .col-2 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-2 {
      width: calc(16.66667% - 2em);
      float: left; } }
  .g0 .col-2 {
    margin: 0 0 0; }
    .stripes .g0 .col-2 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-2 {
        width: calc(16.66667% - 0);
        float: left; } }
  .gs .col-2 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-2 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-2 {
        width: calc(16.66667% - 1em);
        float: left; } }
  .gl .col-2 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-2 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-2 {
        width: calc(16.66667% - 3em);
        float: left; } }

.col-3 {
  margin: 2em 1em 0; }
  .stripes .col-3 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-3 {
      width: calc(25% - 2em);
      float: left; } }
  .g0 .col-3 {
    margin: 0 0 0; }
    .stripes .g0 .col-3 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-3 {
        width: calc(25% - 0);
        float: left; } }
  .gs .col-3 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-3 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-3 {
        width: calc(25% - 1em);
        float: left; } }
  .gl .col-3 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-3 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-3 {
        width: calc(25% - 3em);
        float: left; } }

.col-4 {
  margin: 2em 1em 0; }
  .stripes .col-4 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-4 {
      width: calc(33.33333% - 2em);
      float: left; } }
  .g0 .col-4 {
    margin: 0 0 0; }
    .stripes .g0 .col-4 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-4 {
        width: calc(33.33333% - 0);
        float: left; } }
  .gs .col-4 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-4 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-4 {
        width: calc(33.33333% - 1em);
        float: left; } }
  .gl .col-4 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-4 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-4 {
        width: calc(33.33333% - 3em);
        float: left; } }

.col-5 {
  margin: 2em 1em 0; }
  .stripes .col-5 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-5 {
      width: calc(41.66667% - 2em);
      float: left; } }
  .g0 .col-5 {
    margin: 0 0 0; }
    .stripes .g0 .col-5 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-5 {
        width: calc(41.66667% - 0);
        float: left; } }
  .gs .col-5 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-5 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-5 {
        width: calc(41.66667% - 1em);
        float: left; } }
  .gl .col-5 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-5 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-5 {
        width: calc(41.66667% - 3em);
        float: left; } }

.col-6 {
  margin: 2em 1em 0; }
  .stripes .col-6 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-6 {
      width: calc(50% - 2em);
      float: left; } }
  .g0 .col-6 {
    margin: 0 0 0; }
    .stripes .g0 .col-6 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-6 {
        width: calc(50% - 0);
        float: left; } }
  .gs .col-6 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-6 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-6 {
        width: calc(50% - 1em);
        float: left; } }
  .gl .col-6 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-6 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-6 {
        width: calc(50% - 3em);
        float: left; } }

.col-7 {
  margin: 2em 1em 0; }
  .stripes .col-7 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-7 {
      width: calc(58.33333% - 2em);
      float: left; } }
  .g0 .col-7 {
    margin: 0 0 0; }
    .stripes .g0 .col-7 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-7 {
        width: calc(58.33333% - 0);
        float: left; } }
  .gs .col-7 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-7 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-7 {
        width: calc(58.33333% - 1em);
        float: left; } }
  .gl .col-7 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-7 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-7 {
        width: calc(58.33333% - 3em);
        float: left; } }

.col-8 {
  margin: 2em 1em 0; }
  .stripes .col-8 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-8 {
      width: calc(66.66667% - 2em);
      float: left; } }
  .g0 .col-8 {
    margin: 0 0 0; }
    .stripes .g0 .col-8 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-8 {
        width: calc(66.66667% - 0);
        float: left; } }
  .gs .col-8 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-8 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-8 {
        width: calc(66.66667% - 1em);
        float: left; } }
  .gl .col-8 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-8 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-8 {
        width: calc(66.66667% - 3em);
        float: left; } }

.col-9 {
  margin: 2em 1em 0; }
  .stripes .col-9 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-9 {
      width: calc(75% - 2em);
      float: left; } }
  .g0 .col-9 {
    margin: 0 0 0; }
    .stripes .g0 .col-9 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-9 {
        width: calc(75% - 0);
        float: left; } }
  .gs .col-9 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-9 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-9 {
        width: calc(75% - 1em);
        float: left; } }
  .gl .col-9 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-9 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-9 {
        width: calc(75% - 3em);
        float: left; } }

.col-10 {
  margin: 2em 1em 0; }
  .stripes .col-10 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-10 {
      width: calc(83.33333% - 2em);
      float: left; } }
  .g0 .col-10 {
    margin: 0 0 0; }
    .stripes .g0 .col-10 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-10 {
        width: calc(83.33333% - 0);
        float: left; } }
  .gs .col-10 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-10 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-10 {
        width: calc(83.33333% - 1em);
        float: left; } }
  .gl .col-10 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-10 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-10 {
        width: calc(83.33333% - 3em);
        float: left; } }

.col-11 {
  margin: 2em 1em 0; }
  .stripes .col-11 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-11 {
      width: calc(91.66667% - 2em);
      float: left; } }
  .g0 .col-11 {
    margin: 0 0 0; }
    .stripes .g0 .col-11 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-11 {
        width: calc(91.66667% - 0);
        float: left; } }
  .gs .col-11 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-11 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-11 {
        width: calc(91.66667% - 1em);
        float: left; } }
  .gl .col-11 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-11 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-11 {
        width: calc(91.66667% - 3em);
        float: left; } }

.col-12 {
  margin: 2em 1em 0; }
  .stripes .col-12 {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .col-12 {
      width: calc(100% - 2em);
      float: left; } }
  .g0 .col-12 {
    margin: 0 0 0; }
    .stripes .g0 .col-12 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .g0 .col-12 {
        width: calc(100% - 0);
        float: left; } }
  .gs .col-12 {
    margin: 1em 0.5em 0; }
    .stripes .gs .col-12 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gs .col-12 {
        width: calc(100% - 1em);
        float: left; } }
  .gl .col-12 {
    margin: 3em 1.5em 0; }
    .stripes .gl .col-12 {
      border-radius: 4px;
      border: #28d solid 1px;
      color: #28d;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
    @media screen and (min-width: 640px) {
      .gl .col-12 {
        width: calc(100% - 3em);
        float: left; } }

.push-1 {
  position: relative;
  left: 8.33333%; }

.push-2 {
  position: relative;
  left: 16.66667%; }

.push-3 {
  position: relative;
  left: 25%; }

.push-4 {
  position: relative;
  left: 33.33333%; }

.push-5 {
  position: relative;
  left: 41.66667%; }

.push-6 {
  position: relative;
  left: 50%; }

.push-7 {
  position: relative;
  left: 58.33333%; }

.push-8 {
  position: relative;
  left: 66.66667%; }

.push-9 {
  position: relative;
  left: 75%; }

.push-10 {
  position: relative;
  left: 83.33333%; }

.push-11 {
  position: relative;
  left: 91.66667%; }

.push-12 {
  position: relative;
  left: 100%; }

.nested {
  padding: 1rem; }

.header, .footer {
  margin: 2em 1em 0; }
  .stripes .header, .stripes .footer {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .header, .footer {
      width: calc(100% - 2em);
      float: left; } }

.sidebar {
  margin: 2em 1em 0; }
  .stripes .sidebar {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .sidebar {
      width: calc(25% - 2em);
      float: left; } }

.content {
  margin: 2em 1em 0; }
  .stripes .content {
    border-radius: 4px;
    border: #28d solid 1px;
    color: #28d;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  @media screen and (min-width: 640px) {
    .content {
      width: calc(75% - 2em);
      float: left; } }

/*# sourceMappingURL=main.css.map */
